@font-face 
    font-family: OpenSans
    src: url('/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf')
p
    font-family: OpenSans
.widget
    height: 330px
    width: 330px
    color: white
.container
    display: flex
    flex-wrap: wrap
.danger
    background-color: red
.free
    background-color: blue
