<div class="container">
  <div class='widget' *ngFor="let d of data" [ngClass]="{ danger: d.usageWarning, free: !d.usageWarning }">
    <div class='heading'>
      <h1>{{d.machineName}}</h1>
      <h2>{{d.name}}</h2>
    </div>
      <p class='avail'>{{d.availableFreeSpace | bytesToGigabytes | number : '1.0-0'}} GB free</p>
    <div class='chart'>
      <ejs-accumulationchart height="200px" width="200px" background="transparent">
        <e-accumulation-series-collection>
          <e-accumulation-series type='Pie' radius="100%"
            [dataSource]='[{name: "Used Space", value: d.totalSize - d.availableFreeSpace | bytesToGigabytes | number : "1.0-0"}, {name: "Available Space", value: d.availableFreeSpace | bytesToGigabytes | number : "1.0-0"}]'
            xName='name' yName='value' [dataLabel]='datalabel' [palettes]="['#838583', '#30ed13']" ></e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>
    </div>
  </div>
</div>
